name: hello-world
on:
 push:
   branches: [ "grupo-lilas-ex" ]
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v1
      - name: List files and Change dir
        run: |
          pwd
          ls -la
          cd java-api
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Build with Maven
        run: mvn -B package --file pom.xml
